<form>
  <div class="form-group">
    <label for="inputLogin">Login:</label>
    <input
      id="inputLogin"
      type="text"
      class="form-control"
      placeholder="Enter login"
      aria-describedby="loginHelp"
    />
    <small id="loginHelp" class="form-text text-muted">
      Helo text
    </small>
  </div>

  <div class="form-group">
    <label for="inputPassword">Password:</label>
    <input
      id="inputPassword"
      type="password"
      class="form-control"
      placeholder="Password"
    />
  </div>
  <button type="submit" class="btn btn-primary">Login</button>
</form>
